In [1]:
import pandas as pd

data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/train data/before vector/fishing_train.csv",index_col=0)

data_nor=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/No fishing/train data/before vector/No fishing_train.csv",index_col=0)

In [2]:
data_ab

                                               sentence  predict
5597   '네 일단 그럼 본인이 대출 받기 위해서 전화 받으신 내용에 대해 설명하게 설명을...        2
4631   '왜냐면 그 자금에 있어서 뭐 국가 안전 코드 부여된 것도 아니고 아무런 조치된 ...        2
307                              '마지막 거래하시면 하셔서 대략적으로.'        2
1693                                        '저희가 이렇게 해라        1
6                                    '네 성함은 OOO님 맞으시죠?'        2
...                                                 ...      ...
2493                           '왜냐면 솔직히 이게 보이스피싱 같기도 하고        1
4366                 '뭐 본인 사건에 대한 공이 일 날이니까 이거를 확인하셔야지'        2
1701                                     '전부 숫자 조합이고요.'        2
7433   '그 대전 쪽에서 거주하시는데 이게 등본상의 거주지나 실 거주지가 유지가 되시는 ...        2
4813                   '네 그러면 손가락 한 마디 정도 밑으로 내려오셔가지고요'        2

[11609 rows x 2 columns]

In [4]:
data_nor

                                                sentence  predict
2952                                      먼저, 결혼 축하드립니다.        0
5028                                         11번 출구입니다.         0
500            현재 아드님이 수입이 있으셔서 민원자분께서 기초생활수급자에 해당이 안돼요.        0
16159                            11월11일 부터 11월17일까지 입니다.        0
2337           네 사전에 귀농농업창업 및 주택구입지원사업지침을 꼭 확인하시기 바랍니다.         0
...                                                  ...      ...
5248   청소년본인이 신청할시 청소년이 등재된등본주소지를 선택하시고 부모님또는 세대주께서 신...        0
7173   네, 따라서 근로자 본인이 챙겨야 하는 항목들을 잘 확인하여 세액공제 받으시길 바랍니다.        0
14524  지방세를 부과 또는 징수에 이의가 있을 경우 감사원장을 통하여 심사청구 받는 제도되...        0
15684                    기한 내 미제출 시 취업자로 간주해 지급중지 되십니다..        0
9959              네, 민원 접수 하실수 있도록 관할 수도사업소를 안내해 드리겠습니다.        0

[16633 rows x 2 columns]

In [5]:
data_nor.isnull().sum()

sentence    0
predict     0
dtype: int64

In [6]:
data_ab.isnull().sum()

sentence    0
predict     0
dtype: int64

In [6]:
print(data_nor.shape)
print(data_ab.shape)

(16933, 2)
(11609, 2)

In [7]:
data=pd.concat([data_ab,data_nor])

In [8]:
data

                                                sentence  predict
5597    '네 일단 그럼 본인이 대출 받기 위해서 전화 받으신 내용에 대해 설명하게 설명을...        2
4631    '왜냐면 그 자금에 있어서 뭐 국가 안전 코드 부여된 것도 아니고 아무런 조치된 ...        2
307                               '마지막 거래하시면 하셔서 대략적으로.'        2
1693                                         '저희가 이렇게 해라        1
6                                     '네 성함은 OOO님 맞으시죠?'        2
...                                                  ...      ...
5248   청소년본인이 신청할시 청소년이 등재된등본주소지를 선택하시고 부모님또는 세대주께서 신...        0
7173   네, 따라서 근로자 본인이 챙겨야 하는 항목들을 잘 확인하여 세액공제 받으시길 바랍니다.        0
14524  지방세를 부과 또는 징수에 이의가 있을 경우 감사원장을 통하여 심사청구 받는 제도되...        0
15684                    기한 내 미제출 시 취업자로 간주해 지급중지 되십니다..        0
9959              네, 민원 접수 하실수 있도록 관할 수도사업소를 안내해 드리겠습니다.        0

[28242 rows x 2 columns]

In [9]:
data=data.sample(frac=1)

In [10]:
data

                                                sentence  predict
2493                            '왜냐면 솔직히 이게 보이스피싱 같기도 하고        1
16015                                    철저한 방역하에 운영합니다.        0
6570                           해당년도 1월에 연납신청을 먼저 하셔야합니다.        0
1155                        촬영해서 올릴 경우 신청이 취소 될 수 있습니다.         0
10337                                   주민센타에 신청하시면 됩니다.        0
...                                                  ...      ...
5608    '그럼 수사관에게 진술하셨던 내용을 한번 진술가 들어갈 텐데 그 본인께서 진행해 ...        2
11614                    아닙니다. 한자가 다르면 인감도장으로 등록할수 없습니다.        0
3925                     '그 최대 한도가 얼마 정도 되시는지 한번 문의하시고요'        2
2727                                  온라인으로 납부 하실수 있습니다.        0
2559                          '얼만지 제가 한번 보고 전화를 한번 드릴게요'        1

[28242 rows x 2 columns]

In [11]:
data.to_csv("train_data_before_vector.csv")

In [12]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [13]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [14]:
A=model.encode(data.iloc[0,0])

-0.07013079

In [15]:
A.shape[0]

384

In [16]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [17]:
list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383]

In [18]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [19]:
x_train.shape

(28542, 384)

In [20]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [21]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
28537     NaN
28538     NaN
28539     NaN
28540     NaN
28541     NaN

[28542 rows x 1 columns]

In [23]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [24]:
y_train

      predict
0           2
1           1
2           0
3           2
4           2
...       ...
28537       0
28538       1
28539       0
28540       2
28541       0

[28542 rows x 1 columns]

In [25]:
y_train.isnull().sum()

predict    0
dtype: int64

In [26]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [27]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,-0.070131,0.142077,-0.006421,-0.054496,0.028667,-0.029947,0.114616,0.017927,-0.028092,-0.050806,...,0.035374,0.042639,0.040369,-0.029758,0.066938,0.012535,0.053881,0.033667,-0.063258,-0.02223
1,-0.049006,0.067944,0.007654,-0.003729,-0.013579,0.024609,0.155034,-0.071169,-0.030769,-0.022771,...,0.051482,0.029457,0.074528,0.027671,0.022946,-0.010086,0.067977,0.081143,-0.072778,-0.013442
2,-0.000569,0.093185,0.020151,-0.034289,-0.005014,-0.055603,0.007385,0.071463,-0.011118,-0.04092,...,0.06161,0.061342,0.019251,-0.020593,0.063867,0.00675,-0.041596,0.040573,-0.045056,0.041075
3,-0.032838,0.082833,0.075091,-0.046274,-0.039257,-0.029696,0.121287,-0.011864,0.007455,-0.02162,...,0.031824,0.020816,-0.00382,0.045092,0.043378,0.02626,0.043989,0.104422,-0.105914,-0.075549
4,0.01076,0.080172,0.080641,-0.037389,-0.029186,-0.070996,0.102659,-0.008773,-0.017581,-0.01283,...,0.039309,0.041222,0.023067,0.003845,0.081055,0.020342,0.019499,0.083527,-0.081828,-0.045706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28537,-0.028474,0.067454,0.023696,-0.066202,0.029379,-0.048651,0.103078,0.062209,-0.009216,-0.045726,...,0.00215,0.034256,-0.023928,-0.023337,0.02119,-0.058897,0.026694,0.010618,-0.073742,0.066263
28538,-0.005686,0.106782,0.142155,0.005927,0.03762,-0.027355,0.113099,-0.012562,-0.018649,-0.066683,...,0.025607,0.033521,0.095035,0.038105,0.00436,-0.016688,0.092148,0.057164,-0.020637,-0.022825
28539,0.040781,-0.008618,-0.005657,0.022016,0.052963,-0.021433,0.073583,0.111,-0.054471,-0.050724,...,-0.07927,-0.00412,0.037954,0.0081,-0.071141,0.027482,0.059967,0.006689,-0.002909,0.018521
28540,-0.013333,0.139602,0.075078,-0.052329,-0.000535,-0.068895,0.092088,-0.002136,0.009318,-0.031502,...,0.025404,0.037063,0.054933,0.02381,0.012425,-0.024331,0.063417,0.072688,-0.044748,-0.003714
28541,0.012278,0.069014,0.108953,-0.04636,0.047319,-0.00936,0.065502,0.017223,-0.000169,-0.07207,...,0.027973,0.046545,0.051468,-0.034822,0.058666,-0.028882,0.10067,0.069822,-0.029627,0.006535

In [28]:
data=pd.concat([x_train,y_train],axis=1)

In [29]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,-0.070131,0.142077,-0.006421,-0.054496,0.028667,-0.029947,0.114616,0.017927,-0.028092,-0.050806,...,0.042639,0.040369,-0.029758,0.066938,0.012535,0.053881,0.033667,-0.063258,-0.02223,2
1,-0.049006,0.067944,0.007654,-0.003729,-0.013579,0.024609,0.155034,-0.071169,-0.030769,-0.022771,...,0.029457,0.074528,0.027671,0.022946,-0.010086,0.067977,0.081143,-0.072778,-0.013442,1
2,-0.000569,0.093185,0.020151,-0.034289,-0.005014,-0.055603,0.007385,0.071463,-0.011118,-0.04092,...,0.061342,0.019251,-0.020593,0.063867,0.00675,-0.041596,0.040573,-0.045056,0.041075,0
3,-0.032838,0.082833,0.075091,-0.046274,-0.039257,-0.029696,0.121287,-0.011864,0.007455,-0.02162,...,0.020816,-0.00382,0.045092,0.043378,0.02626,0.043989,0.104422,-0.105914,-0.075549,2
4,0.01076,0.080172,0.080641,-0.037389,-0.029186,-0.070996,0.102659,-0.008773,-0.017581,-0.01283,...,0.041222,0.023067,0.003845,0.081055,0.020342,0.019499,0.083527,-0.081828,-0.045706,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28537,-0.028474,0.067454,0.023696,-0.066202,0.029379,-0.048651,0.103078,0.062209,-0.009216,-0.045726,...,0.034256,-0.023928,-0.023337,0.02119,-0.058897,0.026694,0.010618,-0.073742,0.066263,0
28538,-0.005686,0.106782,0.142155,0.005927,0.03762,-0.027355,0.113099,-0.012562,-0.018649,-0.066683,...,0.033521,0.095035,0.038105,0.00436,-0.016688,0.092148,0.057164,-0.020637,-0.022825,1
28539,0.040781,-0.008618,-0.005657,0.022016,0.052963,-0.021433,0.073583,0.111,-0.054471,-0.050724,...,-0.00412,0.037954,0.0081,-0.071141,0.027482,0.059967,0.006689,-0.002909,0.018521,0
28540,-0.013333,0.139602,0.075078,-0.052329,-0.000535,-0.068895,0.092088,-0.002136,0.009318,-0.031502,...,0.037063,0.054933,0.02381,0.012425,-0.024331,0.063417,0.072688,-0.044748,-0.003714,2
28541,0.012278,0.069014,0.108953,-0.04636,0.047319,-0.00936,0.065502,0.017223,-0.000169,-0.07207,...,0.046545,0.051468,-0.034822,0.058666,-0.028882,0.10067,0.069822,-0.029627,0.006535,0

In [30]:
data=data.sample(frac=1)

In [31]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
19647,-0.02687,0.122156,0.014758,0.012271,0.019634,-0.103382,0.00883,0.01483,-0.020626,-0.022875,...,0.041667,0.081985,-0.009398,0.009088,-0.072725,0.111076,0.104787,-0.02303,-0.004691,2
7006,0.003943,0.033197,0.026239,-0.01552,-0.019218,-0.067118,0.065019,0.088321,-0.00548,-0.043482,...,0.081358,0.036315,-0.02274,0.047333,-0.036301,0.027966,-0.011599,-0.003494,-0.046942,2
20009,-0.016185,0.101331,0.05321,-0.118098,-0.014569,-0.053186,0.122715,0.026597,-0.045014,-0.041224,...,0.021116,0.018228,-0.00005,0.032596,0.001527,-0.003457,0.077436,-0.025314,0.0225,2
26696,-0.04777,0.009721,0.068657,-0.031237,-0.07335,-0.036916,0.069661,-0.074808,0.03665,0.027585,...,0.017935,-0.037637,0.042985,0.079794,0.001452,0.065411,0.061789,-0.095204,-0.026523,0
22196,-0.021907,0.072259,0.095318,-0.036829,-0.11806,-0.012593,0.026548,-0.016373,-0.037529,0.027906,...,0.06278,0.05906,-0.018269,0.099652,-0.000775,0.024997,0.029637,-0.034282,-0.059895,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19847,-0.049028,0.12065,0.032421,-0.04777,0.028657,-0.061376,0.155523,0.052577,-0.000771,-0.02723,...,0.050091,0.07343,-0.018456,0.002628,-0.012001,0.0069,0.036592,-0.013916,-0.077114,2
24618,-0.043738,0.079272,0.026795,-0.074954,-0.065761,-0.056961,0.06217,0.045561,-0.02777,-0.020762,...,0.047824,0.009117,0.003142,0.076563,0.004137,-0.005044,0.019045,-0.062749,0.033962,1
20778,-0.072725,0.10831,0.068385,-0.040782,-0.066595,-0.037099,0.063894,0.034833,-0.016957,0.004056,...,0.041272,-0.009204,0.01735,0.046145,0.016076,0.070159,0.027004,-0.07254,0.000503,0
23588,-0.033389,0.131227,0.082776,-0.044156,0.028403,-0.043127,0.071503,-0.01123,-0.009142,-0.06093,...,0.06874,0.058992,-0.007444,0.030299,-0.028593,0.070698,0.102007,-0.059391,-0.024963,2
27640,0.014848,-0.01493,0.027447,0.025731,-0.01909,-0.114033,0.04298,0.063507,0.040449,-0.043313,...,0.030073,-0.006962,0.081665,0.04717,-0.007723,-0.003992,0.004577,-0.028237,0.052689,0

In [32]:
data.to_csv("train_data_after_vector(0411).csv")