In [1]:
import pandas as pd

data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/train data/before vector/fishing_train.csv",index_col=0)

data_nor=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/No fishing/train data/before vector/No fishing_train.csv",index_col=0)

In [2]:
data_ab

                                               sentence  predict
5597   '네 일단 그럼 본인이 대출 받기 위해서 전화 받으신 내용에 대해 설명하게 설명을...        2
4631   '왜냐면 그 자금에 있어서 뭐 국가 안전 코드 부여된 것도 아니고 아무런 조치된 ...        2
307                              '마지막 거래하시면 하셔서 대략적으로.'        2
1693                                        '저희가 이렇게 해라        1
6                                    '네 성함은 OOO님 맞으시죠?'        2
...                                                 ...      ...
2493                           '왜냐면 솔직히 이게 보이스피싱 같기도 하고        1
4366                 '뭐 본인 사건에 대한 공이 일 날이니까 이거를 확인하셔야지'        2
1701                                     '전부 숫자 조합이고요.'        2
7433   '그 대전 쪽에서 거주하시는데 이게 등본상의 거주지나 실 거주지가 유지가 되시는 ...        2
4813                   '네 그러면 손가락 한 마디 정도 밑으로 내려오셔가지고요'        2

[11609 rows x 2 columns]

In [3]:
data_nor

                                                sentence  predict
2952                                      먼저, 결혼 축하드립니다.        0
5028                                         11번 출구입니다.         0
500            현재 아드님이 수입이 있으셔서 민원자분께서 기초생활수급자에 해당이 안돼요.        0
16159                            11월11일 부터 11월17일까지 입니다.        0
2337           네 사전에 귀농농업창업 및 주택구입지원사업지침을 꼭 확인하시기 바랍니다.         0
...                                                  ...      ...
5248   청소년본인이 신청할시 청소년이 등재된등본주소지를 선택하시고 부모님또는 세대주께서 신...        0
7173   네, 따라서 근로자 본인이 챙겨야 하는 항목들을 잘 확인하여 세액공제 받으시길 바랍니다.        0
14524  지방세를 부과 또는 징수에 이의가 있을 경우 감사원장을 통하여 심사청구 받는 제도되...        0
15684                    기한 내 미제출 시 취업자로 간주해 지급중지 되십니다..        0
9959              네, 민원 접수 하실수 있도록 관할 수도사업소를 안내해 드리겠습니다.        0

[16633 rows x 2 columns]

In [4]:
data_nor.isnull().sum()

sentence    0
predict     0
dtype: int64

In [5]:
data_ab.isnull().sum()

sentence    0
predict     0
dtype: int64

In [6]:
print(data_nor.shape)
print(data_ab.shape)

(16633, 2)
(11609, 2)

In [7]:
data=pd.concat([data_ab,data_nor])

In [8]:
data

                                                sentence  predict
5597    '네 일단 그럼 본인이 대출 받기 위해서 전화 받으신 내용에 대해 설명하게 설명을...        2
4631    '왜냐면 그 자금에 있어서 뭐 국가 안전 코드 부여된 것도 아니고 아무런 조치된 ...        2
307                               '마지막 거래하시면 하셔서 대략적으로.'        2
1693                                         '저희가 이렇게 해라        1
6                                     '네 성함은 OOO님 맞으시죠?'        2
...                                                  ...      ...
5248   청소년본인이 신청할시 청소년이 등재된등본주소지를 선택하시고 부모님또는 세대주께서 신...        0
7173   네, 따라서 근로자 본인이 챙겨야 하는 항목들을 잘 확인하여 세액공제 받으시길 바랍니다.        0
14524  지방세를 부과 또는 징수에 이의가 있을 경우 감사원장을 통하여 심사청구 받는 제도되...        0
15684                    기한 내 미제출 시 취업자로 간주해 지급중지 되십니다..        0
9959              네, 민원 접수 하실수 있도록 관할 수도사업소를 안내해 드리겠습니다.        0

[28242 rows x 2 columns]

In [9]:
data=data.sample(frac=1)

In [10]:
data

                                                sentence  predict
7939   신용카드, 체크카드, 휴대전화, 후불교통카드, 티머니카드, 페이코, 카카오페이로 결...        0
9238                                  네~ 그렇군요 환불도와드릴게요.         0
3676                                          '예 알겠습니다.'        2
3239                      '네 그 통장에 있는 게 아니고 제가 아직 모르거든요'        2
4960                      기초생활수급자, 차상위 계층, 소독 4구간 이하입니다.        0
...                                                  ...      ...
15398                    직인생략을 하시면 인쇄불가 프린터에서도 출력가능하십니다.        0
14009                 네. 정상적인 결제를 위해 팝업 차단을 해제하시고 이용해주세요        0
729                                     '얘기하지마라는거아니 에요.'        2
14620                                 경차는 일부 면제가 되기도 합니다        0
3915                                누리집 홈페이지에서 하시면 됩니다.         0

[28242 rows x 2 columns]

In [11]:
data.to_csv("train_data_before_vector.csv")

In [12]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [13]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [14]:
A=model.encode(data.iloc[0,0])

In [15]:
A.shape[0]

768

In [16]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [17]:
list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767]

In [18]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [19]:
x_train.shape

(28242, 768)

In [20]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [21]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
28237     NaN
28238     NaN
28239     NaN
28240     NaN
28241     NaN

[28242 rows x 1 columns]

In [23]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [24]:
y_train

      predict
0           2
1           1
2           0
3           2
4           2
...       ...
28537       0
28538       1
28539       0
28540       2
28541       0

[28542 rows x 1 columns]

In [24]:
y_train.isnull().sum()

predict    0
dtype: int64

In [25]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [27]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,-0.070131,0.142077,-0.006421,-0.054496,0.028667,-0.029947,0.114616,0.017927,-0.028092,-0.050806,...,0.035374,0.042639,0.040369,-0.029758,0.066938,0.012535,0.053881,0.033667,-0.063258,-0.02223
1,-0.049006,0.067944,0.007654,-0.003729,-0.013579,0.024609,0.155034,-0.071169,-0.030769,-0.022771,...,0.051482,0.029457,0.074528,0.027671,0.022946,-0.010086,0.067977,0.081143,-0.072778,-0.013442
2,-0.000569,0.093185,0.020151,-0.034289,-0.005014,-0.055603,0.007385,0.071463,-0.011118,-0.04092,...,0.06161,0.061342,0.019251,-0.020593,0.063867,0.00675,-0.041596,0.040573,-0.045056,0.041075
3,-0.032838,0.082833,0.075091,-0.046274,-0.039257,-0.029696,0.121287,-0.011864,0.007455,-0.02162,...,0.031824,0.020816,-0.00382,0.045092,0.043378,0.02626,0.043989,0.104422,-0.105914,-0.075549
4,0.01076,0.080172,0.080641,-0.037389,-0.029186,-0.070996,0.102659,-0.008773,-0.017581,-0.01283,...,0.039309,0.041222,0.023067,0.003845,0.081055,0.020342,0.019499,0.083527,-0.081828,-0.045706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28537,-0.028474,0.067454,0.023696,-0.066202,0.029379,-0.048651,0.103078,0.062209,-0.009216,-0.045726,...,0.00215,0.034256,-0.023928,-0.023337,0.02119,-0.058897,0.026694,0.010618,-0.073742,0.066263
28538,-0.005686,0.106782,0.142155,0.005927,0.03762,-0.027355,0.113099,-0.012562,-0.018649,-0.066683,...,0.025607,0.033521,0.095035,0.038105,0.00436,-0.016688,0.092148,0.057164,-0.020637,-0.022825
28539,0.040781,-0.008618,-0.005657,0.022016,0.052963,-0.021433,0.073583,0.111,-0.054471,-0.050724,...,-0.07927,-0.00412,0.037954,0.0081,-0.071141,0.027482,0.059967,0.006689,-0.002909,0.018521
28540,-0.013333,0.139602,0.075078,-0.052329,-0.000535,-0.068895,0.092088,-0.002136,0.009318,-0.031502,...,0.025404,0.037063,0.054933,0.02381,0.012425,-0.024331,0.063417,0.072688,-0.044748,-0.003714
28541,0.012278,0.069014,0.108953,-0.04636,0.047319,-0.00936,0.065502,0.017223,-0.000169,-0.07207,...,0.027973,0.046545,0.051468,-0.034822,0.058666,-0.028882,0.10067,0.069822,-0.029627,0.006535

In [26]:
data=pd.concat([x_train,y_train],axis=1)

In [27]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.029686,-0.092995,-0.023542,-0.028506,-0.029214,-0.012668,0.050578,0.02194,0.030165,0.004007,...,-0.05215,-0.039659,-0.005615,-0.015097,-0.061674,0.025227,-0.012136,-0.013355,-0.017624,0
1,0.038027,-0.008488,-0.021818,0.000711,0.030215,0.012326,-0.072494,0.035388,0.080716,-0.02534,...,-0.011997,0.033487,-0.009522,-0.053235,-0.055334,-0.012613,0.029865,0.032421,-0.017854,0
2,0.079654,0.02837,-0.008995,0.04363,0.054101,0.010407,-0.017889,0.020406,0.036554,0.021273,...,0.053555,0.056923,0.017049,-0.050981,0.010292,-0.025103,0.001593,-0.010414,-0.025235,2
3,0.091793,-0.02866,-0.025166,0.012769,0.031717,0.000087,-0.048858,0.031584,0.057976,-0.004884,...,0.001078,0.003814,-0.008077,-0.039294,-0.033867,-0.010283,0.015032,0.011531,-0.019164,2
4,0.079092,-0.055878,-0.016244,-0.00811,0.013866,-0.010645,-0.023519,-0.001603,0.059542,-0.012526,...,-0.038796,-0.020293,-0.00456,-0.046709,-0.050631,0.025634,0.024956,0.00552,-0.029033,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28237,0.029273,-0.085453,-0.021296,-0.002091,0.009722,-0.019034,-0.040624,0.014383,0.035041,0.007625,...,-0.03804,-0.044484,-0.002919,-0.014778,-0.002838,0.007231,0.029532,0.003592,-0.023102,0
28238,0.014674,-0.084859,-0.035249,0.020555,0.000115,-0.013047,-0.023877,0.029733,0.031643,0.009608,...,-0.020739,-0.019243,-0.020922,-0.026696,-0.011944,0.021307,0.007604,0.003484,-0.041733,0
28239,0.082334,-0.01204,-0.020301,0.013749,0.041722,0.022506,-0.047439,0.024544,0.075143,-0.002874,...,-0.021511,0.005953,0.020873,-0.060725,-0.016115,-0.016756,0.021535,0.016104,-0.030289,2
28240,0.060433,-0.042221,-0.020296,0.005712,0.019774,-0.002162,-0.052659,0.037298,0.075346,-0.007162,...,-0.027859,0.001306,-0.00249,-0.047916,-0.035867,0.016813,0.034065,0.017473,-0.016494,0
28241,0.058912,-0.019125,-0.006241,0.010266,0.031022,-0.00457,-0.071443,0.034543,0.058185,-0.015441,...,-0.02869,0.034077,0.002288,-0.052943,-0.051903,0.034359,0.0153,0.040313,-0.021507,0

In [28]:
data=data.sample(frac=1)

In [29]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
8076,0.041588,-0.036846,-0.006648,0.000227,0.00728,-0.005223,-0.041606,0.027679,0.050705,-0.010002,...,-0.044424,-0.016392,-0.022169,-0.037559,-0.057371,0.020104,0.028147,0.028788,-0.028985,0
25730,0.06166,-0.056645,-0.022031,-0.005079,0.005027,0.003676,-0.015168,0.007216,0.058704,-0.006738,...,-0.042487,-0.00171,0.009329,-0.048849,-0.043386,0.021108,0.031772,0.0095,-0.026264,0
1498,0.09237,-0.006547,-0.026442,0.029015,0.008454,0.015549,-0.066554,-0.000775,0.064377,0.010901,...,-0.021142,-0.022168,-0.001286,-0.035978,0.007039,-0.00974,0.038135,-0.00853,-0.037148,2
16178,0.059826,-0.042817,-0.032501,0.00774,0.031213,0.0093,-0.056136,0.043029,0.068339,-0.019666,...,-0.018776,-0.007381,-0.003232,-0.054016,-0.037947,0.012492,0.022637,0.034475,-0.006181,0
20633,0.076205,-0.01535,-0.022006,-0.024257,0.046556,-0.002424,-0.048548,0.04173,0.023783,-0.020854,...,-0.034089,-0.005977,-0.036172,-0.06184,-0.039963,0.011077,0.040165,0.047502,0.001249,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17673,0.072367,-0.022104,0.000954,0.00334,0.053166,0.000461,-0.094612,0.004825,0.062762,-0.012836,...,-0.018668,0.026531,-0.007416,-0.058117,-0.078507,0.007944,0.033241,0.028112,-0.015801,0
22219,0.087794,-0.054177,-0.02863,-0.003186,0.039359,0.011474,-0.019956,0.019536,0.075004,0.001278,...,0.012462,-0.034997,0.013858,-0.049586,-0.016666,0.00609,0.022115,0.014825,-0.030503,1
22386,0.053977,-0.077066,-0.027049,-0.048966,0.016413,0.006757,-0.069973,0.013895,0.044211,-0.004104,...,-0.032237,0.003306,0.02691,-0.003375,-0.01197,0.015297,0.000451,-0.00502,-0.021968,0
19829,0.048972,-0.0717,-0.025778,-0.003188,0.01502,-0.003606,-0.009128,0.014794,0.058696,0.001855,...,-0.02431,-0.004815,-0.00361,-0.035594,-0.044277,0.012951,0.028726,0.014414,-0.028533,0
8892,0.023688,-0.068551,-0.014917,-0.011058,0.001738,-0.013338,-0.000721,0.001552,0.044364,-0.014512,...,-0.050853,-0.027997,0.003492,-0.023993,-0.045771,0.017724,0.022553,0.002566,-0.020438,0

In [30]:
data.to_csv("train_data_after_vector(0419).csv")