In [1]:
import pandas as pd

data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/test data/fishing_test.csv",index_col=0)

data_nor=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/No fishing/test data/No fishing_test.csv",index_col=0)

In [2]:
data_ab

                                               sentence  predict
2709                                   '그럼 오늘 끝나는 거예요.'        2
7035                              저가 항공권을 판매한다고 올려놓구요.'        2
5626                                 '네에 앞서 말씀 드렸을 거예요'        2
3137   '당일로도 가능하시고 다만 위임 처리하실 경우에는 이제 뭐 수수료는 저희가 대신 ...        1
1767                                  '안 들리시면은 안 들립니다.'        2
...                                                 ...      ...
7369                   '원활한 녹취 진행을 위해서 한 가지 좀 안내해 드리자면'        2
5928                                   '어 그리고 요지 4번 보시면        2
972    '어차피 저는 수사관이기 때문에 저는 본인한테 사건 고지를 해드리고 이 부분에 대...        2
6685                                     국가 수사기관인 저희 검찰        2
8195   '어 이렇게 여쭤보는 이유는 박성재라는 사람이 얼마 전에 수사과에서 금융 사기혐의...        2

[300 rows x 2 columns]

In [3]:
data_nor

                                                sentence  predict
4568                             00구 000로 000로 가시면 됩니다.         0
8561                                     주민센터에서 가능하십니다.         0
3452         서울은 전지역 투기과열지구로 6개월에서 10년까지 전매제한 기간이 있습니다.         0
4626                       네, 맞습니다. 확인 후 조치를 취하도록 하겠습니다.        0
15200                                   구청에서 하실 수 있겠습니다.        0
...                                                  ...      ...
15463  네. 일정기간 희망지역에서 거주하면서 예비 귀농인들에게 필요한 거주공간과 교육을 지...        0
14798             도봉구에서 열리는 문화 행사에는 도봉 역사문화 탐방(이)가 있습니다.        0
8722                                    올해 1월부터 강화되었습니다.        0
13439                            원하는 답변을 드릴 수 있어서 다행입니다.        0
16930     입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.        0

[300 rows x 2 columns]

In [4]:
data_nor.isnull().sum()

sentence    0
predict     0
dtype: int64

In [5]:
data_ab.isnull().sum()

sentence    0
predict     0
dtype: int64

In [6]:
print(data_nor.shape)
print(data_ab.shape)

(300, 2)
(300, 2)

In [7]:
data=pd.concat([data_nor,data_ab])

In [8]:
data

                                                sentence  predict
4568                             00구 000로 000로 가시면 됩니다.         0
8561                                     주민센터에서 가능하십니다.         0
3452         서울은 전지역 투기과열지구로 6개월에서 10년까지 전매제한 기간이 있습니다.         0
4626                       네, 맞습니다. 확인 후 조치를 취하도록 하겠습니다.        0
15200                                   구청에서 하실 수 있겠습니다.        0
...                                                  ...      ...
7369                    '원활한 녹취 진행을 위해서 한 가지 좀 안내해 드리자면'        2
5928                                    '어 그리고 요지 4번 보시면        2
972     '어차피 저는 수사관이기 때문에 저는 본인한테 사건 고지를 해드리고 이 부분에 대...        2
6685                                      국가 수사기관인 저희 검찰        2
8195    '어 이렇게 여쭤보는 이유는 박성재라는 사람이 얼마 전에 수사과에서 금융 사기혐의...        2

[600 rows x 2 columns]

In [9]:
data=data.sample(frac=1)

In [10]:
data

                                                sentence  predict
5489    그리고 그 현장에 이게 이제 편의점 털이범도 이제 이제 복면 같은 것도 쓰고 방문...        2
447                                         '전화 좀 끊을까요?'        1
5574                                 서울시 00구 00로 00 입니다.        0
23      '위임하실 경우에는 방문이나 내방 없이 드리는 전화 받으시고 녹취를 통해서 대출 ...        1
12069  VISITSEOUL이라는 사이트를 보시면 서울시에서 추천하는 관광지를 확인하실 수 ...        0
...                                                  ...      ...
9405                           출생일로부터 30일 이내 신고하셔야 합니다.         0
179                                '네 대부업건 어디어디 이용중이세요?'        1
5299              '아 이거 지금 제가 지금 금융 감독원 측에다가 서류 다 올려놨는데'        2
1525               네, 지방세 중 주민세, 재산세, 자동차세는 자동납부 가능하십니다.        0
13042    네, 1차 지원금 150만원을 받은 50만 명은 추석 전 50만원이 추가 지원됩니다.        0

[600 rows x 2 columns]

In [11]:
data.to_csv("target_data_before_vector(0419).csv")

In [12]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

In [13]:
A=model.encode(data.iloc[0,0])

In [14]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [15]:
len(list)

768

In [16]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [17]:
x_test.shape

(600, 768)

In [18]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [19]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [21]:
y_test

    predict
0         2
1         1
2         0
3         1
4         0
..      ...
595       0
596       1
597       2
598       0
599       0

[600 rows x 1 columns]

In [22]:
y_test.isnull().sum()

predict    0
dtype: int64

In [23]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [24]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.010428,-0.071933,-0.017392,0.008922,-0.044401,0.011042,0.054531,0.042881,0.028273,-0.034836,...,-0.006435,-0.055016,-0.054073,-0.017767,0.011205,-0.034552,0.023233,-0.005438,-0.026318,-0.016703
1,0.09194,-0.036566,0.012702,0.025468,0.021969,-0.019403,-0.048339,0.025101,0.033841,-0.016153,...,0.034712,-0.041046,0.006674,0.016741,-0.011663,-0.09255,0.004577,0.040079,-0.019199,-0.006707
2,0.031047,-0.068162,0.009664,-0.010026,0.047229,-0.005834,-0.031571,0.01035,0.021944,-0.023213,...,-0.034632,-0.043201,0.021443,-0.030927,-0.024635,-0.081081,0.022272,0.031969,0.045923,0.000748
3,0.087628,-0.049665,-0.030245,0.008299,0.009526,0.011165,-0.01981,0.012463,0.047216,-0.004386,...,0.003294,-0.023573,-0.025807,0.025998,-0.038996,-0.017507,-0.013397,0.036567,-0.001429,-0.032525
4,0.031198,-0.063106,-0.036162,-0.032316,-0.010709,0.00295,0.014073,0.002534,0.066469,-0.020093,...,-0.017593,-0.054637,-0.007574,0.01055,-0.033728,-0.019632,0.006585,0.013458,0.009883,-0.026481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0.046916,-0.099977,-0.004652,0.002398,0.020135,0.006914,-0.008735,0.036423,0.054936,0.008121,...,-0.041748,-0.053586,-0.01855,-0.015491,-0.023702,-0.006596,0.012136,0.024292,-0.003643,-0.021966
596,0.098777,-0.025672,-0.029846,0.00148,-0.005779,-0.000311,-0.006587,0.035116,0.086968,0.000967,...,0.027473,-0.044099,-0.028873,0.029394,-0.053765,-0.048643,-0.024175,0.030789,0.007009,-0.023418
597,0.070209,-0.016898,-0.033494,0.018595,0.021548,0.009446,-0.063349,-0.004128,0.05954,0.008547,...,0.014245,-0.004612,-0.008698,-0.000613,-0.025095,0.009312,-0.010901,0.046223,0.004484,-0.032635
598,0.064805,-0.031236,-0.012553,-0.007662,-0.018822,-0.019273,-0.030388,0.007787,0.042919,0.003302,...,-0.047909,-0.04236,-0.003191,-0.007015,-0.045858,-0.106637,0.013391,-0.001869,0.011462,-0.034725
599,0.025206,-0.091717,-0.004823,0.033751,0.029655,-0.015748,-0.017913,0.0212,0.050778,0.017956,...,-0.039533,-0.051178,0.013551,-0.002392,-0.009787,-0.007713,0.039022,0.026819,-0.023162,-0.027885

In [25]:
data=pd.concat([x_test,y_test],axis=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
0,0.010428,-0.071933,-0.017392,0.008922,-0.044401,0.011042,0.054531,0.042881,0.028273,-0.034836,...,-0.055016,-0.054073,-0.017767,0.011205,-0.034552,0.023233,-0.005438,-0.026318,-0.016703,2
1,0.09194,-0.036566,0.012702,0.025468,0.021969,-0.019403,-0.048339,0.025101,0.033841,-0.016153,...,-0.041046,0.006674,0.016741,-0.011663,-0.09255,0.004577,0.040079,-0.019199,-0.006707,1
2,0.031047,-0.068162,0.009664,-0.010026,0.047229,-0.005834,-0.031571,0.01035,0.021944,-0.023213,...,-0.043201,0.021443,-0.030927,-0.024635,-0.081081,0.022272,0.031969,0.045923,0.000748,0
3,0.087628,-0.049665,-0.030245,0.008299,0.009526,0.011165,-0.01981,0.012463,0.047216,-0.004386,...,-0.023573,-0.025807,0.025998,-0.038996,-0.017507,-0.013397,0.036567,-0.001429,-0.032525,1
4,0.031198,-0.063106,-0.036162,-0.032316,-0.010709,0.00295,0.014073,0.002534,0.066469,-0.020093,...,-0.054637,-0.007574,0.01055,-0.033728,-0.019632,0.006585,0.013458,0.009883,-0.026481,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0.046916,-0.099977,-0.004652,0.002398,0.020135,0.006914,-0.008735,0.036423,0.054936,0.008121,...,-0.053586,-0.01855,-0.015491,-0.023702,-0.006596,0.012136,0.024292,-0.003643,-0.021966,0
596,0.098777,-0.025672,-0.029846,0.00148,-0.005779,-0.000311,-0.006587,0.035116,0.086968,0.000967,...,-0.044099,-0.028873,0.029394,-0.053765,-0.048643,-0.024175,0.030789,0.007009,-0.023418,1
597,0.070209,-0.016898,-0.033494,0.018595,0.021548,0.009446,-0.063349,-0.004128,0.05954,0.008547,...,-0.004612,-0.008698,-0.000613,-0.025095,0.009312,-0.010901,0.046223,0.004484,-0.032635,2
598,0.064805,-0.031236,-0.012553,-0.007662,-0.018822,-0.019273,-0.030388,0.007787,0.042919,0.003302,...,-0.04236,-0.003191,-0.007015,-0.045858,-0.106637,0.013391,-0.001869,0.011462,-0.034725,0
599,0.025206,-0.091717,-0.004823,0.033751,0.029655,-0.015748,-0.017913,0.0212,0.050778,0.017956,...,-0.051178,0.013551,-0.002392,-0.009787,-0.007713,0.039022,0.026819,-0.023162,-0.027885,0

In [27]:
data=data.sample(frac=1)

In [28]:
data

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,predict
13,0.089596,-0.048743,-0.019386,-0.015951,0.011703,0.023228,0.004581,0.024018,0.048692,-0.011767,...,-0.013355,-0.022987,0.028024,-0.054867,-0.024426,0.004211,0.027811,-0.00981,-0.027147,2
426,0.089764,-0.024662,0.005741,0.010856,0.046474,0.016512,-0.023483,0.019091,0.052394,-0.009825,...,0.00006,0.036424,0.014394,-0.042184,-0.049119,-0.011929,0.01846,0.018242,-0.021727,2
440,0.0793,-0.034412,-0.019256,-0.005906,0.026294,0.010641,-0.022043,0.024552,0.037481,-0.01275,...,-0.012148,-0.047647,0.028371,-0.041913,-0.023591,0.002833,0.030698,0.013332,-0.024096,1
188,0.021795,-0.043112,0.006412,0.013256,0.059437,0.005974,-0.059484,0.031649,0.005533,-0.023839,...,-0.031541,-0.016567,-0.017616,-0.032971,-0.061904,0.029551,0.016589,0.030323,-0.010889,0
582,0.035717,-0.066289,-0.016347,0.003407,0.028228,-0.013376,-0.042614,0.022684,0.060936,-0.014093,...,-0.044313,-0.003175,-0.006029,-0.042405,-0.059379,0.023385,0.031777,-0.006575,-0.020049,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,0.077924,0.0154,-0.011817,0.036399,0.042192,0.013271,-0.022549,0.023052,0.053176,0.021361,...,0.044917,0.054442,0.022388,-0.046349,0.008171,-0.033182,0.000905,-0.004517,-0.027646,2
358,0.082011,0.028701,-0.009345,0.031794,0.030223,0.02144,-0.044526,0.026534,0.031925,-0.016881,...,-0.004853,0.025544,-0.00438,-0.039887,-0.037068,-0.020499,0.016981,0.012275,-0.027229,2
580,0.052731,-0.040218,-0.004807,-0.017511,0.025523,0.004187,-0.087333,0.030636,0.05516,-0.009911,...,-0.036564,-0.003136,-0.022166,-0.036743,-0.050027,0.012669,0.025161,0.047741,-0.008985,0
254,0.07508,-0.001443,-0.018198,-0.000779,0.019637,0.018009,-0.012431,0.03048,0.086359,-0.008509,...,-0.013159,-0.01941,0.017613,-0.036745,0.006512,-0.006098,0.042338,0.027227,-0.02236,1
288,0.099777,-0.021905,-0.010817,0.001473,0.013561,0.0141,-0.058128,0.004816,0.044776,-0.003575,...,0.002358,0.000086,0.018553,-0.02652,-0.008083,0.012939,0.04378,0.002495,-0.01466,2

In [29]:
data=data[:300]

In [30]:
data.shape

(300, 769)

In [31]:
data.to_csv("target_data(0419).csv")